/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Unica+One&display=swap');

/* Wildcard selector to remove default styles */
* {
    padding: 0;
    margin: 0;
}

/* Global styles */
body {
    background: url("../images/website-background.webp") no-repeat top center;
    background-size: cover;
    font-family: 'DM Serif Display', serif;
    font-size: 0.9rem;
    color: #49371d;
    text-align: center;
    min-height: 100vh;
    background-color: #ecd283;
}

h1,
h2,
h3 {
    font-family: 'Unica One', cursive;
    color: #49371d;
    text-align: center;
}

h4,
h5,
h6 {
    font-weight: 300;
    color: #49371d;
    text-align: center;
}

/* Heading styles */
.heading {
    font-size: 3.8rem;
    line-height: 3.2rem;
    padding-bottom: 15px;
    margin-top: 25px;
}

.heading-p {
    font-size: 1.5rem;
    padding-bottom: 30px;
    margin: 0 15px;
}

/* Main section for quiz */
.quiz-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Question style */
.quiz-section h3 {
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-size: 2rem;
    line-height: 2.1rem;
}

.quiz-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    height: fit-content;
    width: 90%;
    max-width: 750px;
    gap: 1rem;
    padding: 20px 10px;
    line-height: 1.5rem;
}

.quiz-div p {
    font-weight: lighter;
    font-size: 1rem;
    color: #778844;
}

/* Next button style */
.button {
    font-family: 'Unica One', cursive;
    background-color: #778844;
    color: #ecd283;
    border: 1px solid #ecd283;
    font-size: 1.2rem;
    text-align: center;
    width: 130px;
    height: 35px;
    margin: 5px 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #49371d;
    color: #fbd0b1;
    border: 1px solid #fbd0b1;
}

/* Quiz option button styles */
.option-btn {
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    background-color: #fbd0b1;
    color: #49371d;
    border: 1px solid #49371d;
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    max-width: 450px;
    height: fit-content;
    margin: 8px 0;
    padding: 8px 15px;
    cursor: pointer;
}

.option-btn:hover {
    box-shadow: 0 3px 5px 0 rgba(73, 55, 29, 0.3);
}

/* Answer styles for if right or wrong */
.correct {
    background: #778844;
    color: #ffffff;
}

.wrong {
    background: #ba0903;
    color: #ffffff;
}

/* Footer copyright */
.footer {
    font-size: 0.8rem;
    font-weight: lighter;
    font-style: italic;
    margin: 20px 15px;
    color: #49371dcc;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Heading styles */
    .heading {
        font-size: 4.2rem;
        line-height: 3.4rem;
    }

    .heading-p {
        font-size: 1.8rem;
        margin: 0 60px;
    }

    /* Intro text to quiz in main quiz box */
    .quiz-div p {
        font-size: 1.3rem;
        line-height: 1.8rem;
        margin: 0 45px;
    }

    /* Question style */
    .quiz-section h3 {
        font-size: 2rem;
        line-height: 2.4rem;
        margin: 0 60px;
    }

    /* Quiz option button styles */
    .option-btn {
        font-size: 1.4rem;
        margin: 8px 0;
        padding: 8px 15px;
    }

    /* Footer copyright */
    .footer {
        font-size: 0.9rem;
    }
}