/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,200;1,300&family=Unica+One&display=swap');

/* Wildcard selector to remove default styles */
* {
    padding: 0;
    margin: 0;
}

/* Global styles */
body {
    background: url("../images/website-background.webp") no-repeat center center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    color: #49371d;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Background colour if image doesn't load */
    background-color: #ecd283;
}

h1,
h2,
h3 {
    font-family: 'Unica One', cursive;
    color: #49371d;
    text-align: center;
}

h4,
h5,
h6 {
    font-weight: 300;
    color: #49371d;
    text-align: center;
}

::placeholder {
    color: #778844;
    opacity: 0.7;
}

/* Title heading styles */
.heading {
    font-size: 3.3rem;
    line-height: 2.7rem;
    padding-bottom: 15px;
    margin-top: 25px;
}

.heading-p {
    font-weight: normal;
    font-size: 1.5rem;
    padding-bottom: 10px;
    margin: 0 15px;
}

/* Main section for game to sit in */
#quiz-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 500px;
}

/* Container to switch for how to play & leaderboard */
.quiz-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    max-height: 440px;
    width: 90%;
    max-width: 750px;
    gap: 1rem;
    padding: 10px;
    line-height: 1.5rem;   
}

/* Start game div & content styles within */
.game-play {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#name {
    background-color: rgb(255, 255, 255);
    color: #778844;
    width: 130px;
    height: 30px;
    border: 1px solid #778844;
    padding: 0 5px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.button {
    font-family: 'Unica One', cursive;
    background-color: #778844;
    color: #ecd283;
    border: 1px solid #ecd283;
    font-size: 1.2rem;
    text-align: center;
    width: 130px;
    height: 35px;
    margin: 5px 10px;
}

.button:hover {
    background-color: #49371d;
    color: #fbd0b1;
    border: 1px solid #ecd283;
}

/* How to play styles */
#how {
    display: none;
    text-align: center;
}